<%include ./partials/header %>
</head>

<body>
    <%include ./partials/navbar %>
    <section>
        <div class="jumbotron my-1"></div>
    </section>
    <section id="show-groceries">
        <div class="d-sm-flex row justify-content-center">
            <% products.map(product=>{ %>
            <div class="my-1 mx-1 card text-center" style="width: 14rem; height: 20rem;">
                <img src="<%=product.product_image%>" class="card-img-top" alt="<%= product.product_name %>">
                <div class="card-body">
                    <h6 class="card-title text-truncate"><%= product.product_name %></h6>
                    <p class="card-title"><%= product.product_price %></p>
                    <p class="card-text text-truncate"><%= product.product_descript %></p>
                    <p class="text-center">
                        <button value="<%= product.id %>" class="btn btn-sm btn-success">Send To Cart</button>
                    </p>
                    <a href="/<%= product.id %>">See Product</a>
                </div>
            </div>
            <% }) %>
        </div>
    </section>
    <%include ./partials/footer %>